﻿@model EurekapsBridge.Models.eur_ideaprofile

@{
  ViewBag.Title = "EditIniciativa";
  Layout = "~/Views/Shared/_Layout.cshtml";
  var campaña = (EurekapsBridge.Models.eur_campainprofile)ViewBag.Campaña;
}

<h2>Evaluar Iniciativa</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" }))
{
@Html.AntiForgeryToken()

<div class="panel panel-default">
    <div class="panel-heading">
        Mi Iniciativa para @Model.IDP_CampainName
    </div>
    <div class="panel-body">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Datos Basicos</a>
                </li>
                <li role="presentation">
                    <a href="#colaboracion" aria-controls="colaboracion" role="tab" data-toggle="tab">Colaboración</a>
                </li>
                <li role="presentation">
                    <a href="#detalles" aria-controls="detalles" role="tab" data-toggle="tab">Detalles</a>
                </li>
                <li role="presentation">
                    <a href="#inversion" aria-controls="inversion" role="tab" data-toggle="tab">Inversión</a>
                </li>
                <li role="presentation">
                    <a href="#beneficios" aria-controls="beneficios" role="tab" data-toggle="tab">Beneficios</a>
                </li>
                <li role="presentation">
                    <a href="#feedbackpanel" aria-controls="feedbackpanel" role="tab" data-toggle="tab">FeedBack</a>
                </li>
                <li role="presentation">
                    <a href="#evaluacion" aria-controls="evaluacion" role="tab" data-toggle="tab">Evaluación</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="panel panel-default">
                        <div class="panel-heading">PASO 1: Datos Basicos</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.IDP_Name, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.IDP_Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.IDP_Name, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.IDP_EPID, htmlAttributes: new { @class = "control-label " })
                                    @Html.EmpresasFor(model => model.IDP_EPID, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.IDP_EPID, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.IDP_APID, htmlAttributes: new { @class = "control-label " })
                                    @Html.AreasFor(model => model.IDP_APID, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.IDP_APID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_Description, htmlAttributes: new { @class = "control-label " })
                                    @Html.TextAreaFor(model => model.IDP_Description, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.IDP_Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_Comment, htmlAttributes: new { @class = "control-label " })
                                    @Html.TextAreaFor(model => model.IDP_Comment, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.IDP_Comment, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">Archivos Soportes</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div id="docS" class="col-md-12">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="colaboracion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            PASO 2: Colaboración
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel panel-heading">Colaboradores</div>
                                <div class="panel-body">


                                    <div id="partners" class="col-md-12"></div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel panel-heading">Padrinos</div>
                                <div class="panel-body">
                                    <div id="padrinos" class="col-md-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="detalles">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            PASO 3: Detalles de la Iniciativa
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_PreIdea, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.IDP_PreIdea, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.IDP_PreIdea, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_PostIdea, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.IDP_PostIdea, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.IDP_PostIdea, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_Scope, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.IDP_Scope, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.IDP_Scope, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_Schedule, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.IDP_Schedule, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.IDP_Schedule, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="inversion">
                    <div class="panel panel-default">
                        <div class="panel-heading">PASO 4: Inversión Necesaria</div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IDP_DescInvest, htmlAttributes: new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.IDP_DescInvest, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.IDP_DescInvest, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                </div>
                                @Html.LabelFor(model => model.IDP_Investment, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">$COP</span>
                                    @Html.EditorFor(model => model.IDP_Investment, new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = "readonly" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.IDP_Investment, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IDP_InKind, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">$COP</span>
                                    @Html.EditorFor(model => model.IDP_InKind, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.IDP_InKind, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="beneficios">
                    <div class="panel panel-default">
                        <div class="panel-heading">Beneficios Resultantes</div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IDP_Benefits, htmlAttributes: new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.IDP_Benefits, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.IDP_Benefits, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IDP_Validation, htmlAttributes: new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.IDP_Validation, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.IDP_Validation, "", new { @class = "text-danger" })
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Archivos Pruebas de Validación</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div id="docT" class="col-md-12">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Indicadores</div>
                                    <div class="panel-body">
                                        <div id="indicadores" class="col-md-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="feedbackpanel">
                    <div class="panel panel-default">
                        <div class="panel-heading">Sugerencias a la Iniciativa</div>
                        <div class="panel-body">

                            @foreach (var dato in (IEnumerable<EurekapsBridge.Models.eur_ideafeedbak>)ViewBag.Feedback)
                            {
                            <div class="form-group">
                                <label class="control-label"> Sugerencia del día: @dato.IFB_AddDate.ToString("yyyy-MM-dd")</label>
                                <textarea disabled class="form-control">@dato.IFB_Mensaje</textarea>


                            </div>
                            }
                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="evaluacion">
                    <div class="panel panel-default">
                        <div class="panel-heading">Evaluación de la Iniciativa</div>
                        <div class="panel-body">

                            <label class="control-label">Nombre:</label> @campaña.CAM_Name<br />
                            <p>@campaña.CAM_Description</p>
                            <div class="panel panel-default">
                                <div class="panel-heading">Criterios Generales</div>
                                <div class="panel-body">
                                    @foreach (var dato in (IEnumerable<EurekapsBridge.Models.CriteriosViewModel>)ViewBag.Generales)
                                    {
                                    <div class="form-group">
                                        <label class="control-label"> @dato.Name</label>
                                        @dato.Desc

                                        @if (dato.Type == "T")
                                        {
                                        <textarea name="G_@dato.id" class="form-control"></textarea>
                                        }
                                        @if (dato.Type == "N")
                                        {
                                        <input name="G_@dato.id" type="number" class="form-control" />
                                        }
                                        @if (dato.Type == "E")
                                        {
                                        <select name="G_@dato.id" id="G_@dato.id" class="form-control">
                                            <option value="0" @(dato.Value=="0"?"selected":"")>0</option>
                                            <option value="1" @(dato.Value=="1"?"selected":"")>1</option>
                                            <option value="2" @(dato.Value=="2"?"selected":"")>2</option>
                                            <option value="3" @(dato.Value=="3"?"selected":"")>3</option>
                                            <option value="4" @(dato.Value=="4"?"selected":"")>4</option>
                                            <option value="5" @(dato.Value=="5"?"selected":"")>5</option>
                                            <option value="6" @(dato.Value=="6"?"selected":"")>6</option>
                                            <option value="7" @(dato.Value=="7"?"selected":"")>7</option>
                                            <option value="8" @(dato.Value=="8"?"selected":"")>8</option>
                                            <option value="9" @(dato.Value=="9"?"selected":"")>9</option>
                                            <option value="10" @(dato.Value=="10"?"selected":"")>10</option>
                                        </select>
                                        }


                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Criterios Especificos</div>
                                <div class="panel-body">
                                    @foreach (var dato in (IEnumerable<EurekapsBridge.Models.CriteriosViewModel>)ViewBag.Criterios)
                                    {
                                    <div class="form-group">
                                        <label class="control-label"> @dato.Name</label>
                                        @dato.Desc

                                        @if (dato.Type == "T")
                                        {
                                        <textarea name="C_@dato.id" class="form-control"></textarea>
                                        }
                                        @if (dato.Type == "N")
                                        {
                                        <input name="C_@dato.id" type="number" class="form-control" />
                                        }
                                        @if (dato.Type == "E")
                                        {
                                        <select name="C_@dato.id" id="C_@dato.id" class="form-control">
                                            <option value="0" @(dato.Value=="0"?"selected":"")>0</option>
                                            <option value="1" @(dato.Value=="1"?"selected":"")>1</option>
                                            <option value="2" @(dato.Value=="2"?"selected":"")>2</option>
                                            <option value="3" @(dato.Value=="3"?"selected":"")>3</option>
                                            <option value="4" @(dato.Value=="4"?"selected":"")>4</option>
                                            <option value="5" @(dato.Value=="5"?"selected":"")>5</option>
                                            <option value="6" @(dato.Value=="6"?"selected":"")>6</option>
                                            <option value="7" @(dato.Value=="7"?"selected":"")>7</option>
                                            <option value="8" @(dato.Value=="8"?"selected":"")>8</option>
                                            <option value="9" @(dato.Value=="9"?"selected":"")>9</option>
                                            <option value="10" @(dato.Value=="10"?"selected":"")>10</option>
                                        </select>

                                        }


                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Requerimientos</div>
                                <div class="panel-body">
                                    @foreach (var dato in (IEnumerable<EurekapsBridge.Models.CriteriosViewModel>)ViewBag.Requerimientos)
                                    {
                                    <div class="form-group">
                                        <label class="control-label"> @dato.Name</label>
                                        @dato.Desc

                                        @if (dato.Type == "T")
                                        {
                                        <textarea name="R_@dato.id" class="form-control"></textarea>
                                        }
                                        @if (dato.Type == "N")
                                        {
                                        <input name="R_@dato.id" type="number" class="form-control" />
                                        }
                                        @if (dato.Type == "E")
                                        {
                                        <select name="R_@dato.id" id="R_@dato.id" class="form-control">
                                            <option value="0"  @(dato.Value=="0"?"selected":"")>0</option>
                                            <option value="1"  @(dato.Value=="1"?"selected":"")>1</option>
                                            <option value="2"  @(dato.Value=="2"?"selected":"")>2</option>
                                            <option value="3"  @(dato.Value=="3"?"selected":"")>3</option>
                                            <option value="4"  @(dato.Value=="4"?"selected":"")>4</option>
                                            <option value="5"  @(dato.Value=="5"?"selected":"")>5</option>
                                            <option value="6"  @(dato.Value=="6"?"selected":"")>6</option>
                                            <option value="7"  @(dato.Value=="7"?"selected":"")>7</option>
                                            <option value="8"  @(dato.Value=="8"?"selected":"")>8</option>
                                            <option value="9"  @(dato.Value=="9"?"selected":"")>9</option>
                                            <option value="10"  @(dato.Value=="10"?"selected":"")>10</option>
                                        </select>

                                        }


                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Feedback</div>
                                <div class="panel-body">
                                    <label class="control-label"> FeedBack</label>
                                    <textarea class="form-control" name="FeedBack"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>



        <div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDP_AutoID)
            @Html.HiddenFor(model => model.IDP_AddDate)
            @Html.HiddenFor(model => model.IDP_AddUser)
            @Html.HiddenFor(model => model.IDP_ModifyDate)
            @Html.HiddenFor(model => model.IDP_ModifyUser)
            @Html.HiddenFor(model => model.IDP_CampainID)
            @Html.HiddenFor(model => model.IDP_Status)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar Evaluación" class="btn btn-success pull-right" />
                </div>
            </div>
        </div>
    </div>
</div>
}

<div>
    <a onclick="history.go(-1); return false;" href="#">Regresar a Detalle de campaña</a><br />
</div>
@section styles
                                            {
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/Content/slider.css" rel="stylesheet" />
    <style>
        .slider {
            width: 100% !important;
        }
    </style>
}
@section scripts{

    <script src="~/Scripts/bootstrap-slider.js"></script>
    <script>
        var docS = [];
        var partners = [];
        var padrinos=[];
        var indicadores = [];
        var docT =[];
        $('.slider').slider({
            min: 0,
            max: 10,
            step: 1,
            value: 0
        }).on('slideStop', function(ev){
            var control = $(this).data("control");
            $(this).value(ev.value);
            $("#" + control).val(ev.value);
        });
        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideadocument>)ViewBag.Archivo)
        {
            @:docS.push({Name: '@item.ID_Path', ID:@item.ID_AutoID, Type:'S'});
                                                                                                                                                                                       }
        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideapartner>)ViewBag.Colaboradores)
        {
            @:partners.push({Name:'@item.IP_FullName', ID:@item.IP_AutoID,Row:'Partner'});
                                                                                                                                                                                                                                                        }
        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideasponsor>)ViewBag.Padrinos)
        {
            @:padrinos.push({Name:'@item.IS_FullName', ID:@item.IS_AutoID,Row:'Padrino'});
                                                                                                                                                                                                                                                    }
        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideaindicators>)ViewBag.Indicadores)
        {
        @:indicadores.push({Name:'@item.II_Name', ID:@item.II_AutoID,Row:'IdeaIndicador', Desc:'@item.II_Description'});
                                                                                                                                                                                                            }
        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideadocument>)ViewBag.Validacion)
        {
        @:docT.push({Name: '@item.ID_Path', ID:@item.ID_AutoID, Type:'V'});
                                                                                            }
        function GeneratedItemsTable(docItems, espacio) {

            var $table = $('<table/>');
            $table.addClass("table");
            $table.append('<thead><tr><th>Nombre</th></tr></thead>');
            var $tbody = $('<tbody/>');
            $.each(docItems, function (i, val) {
                var $row = $('<tr/>');
                $row.append($('<td/>').html('<a href="/Documentos/'+val.Name+'">'+val.Name+'</a>'));
                $tbody.append($row);
            });
            $table.append($tbody);
            $('#'+espacio).html($table);
            $table.DataTable({
                "language": {
                    "url": '@Url.Content("~/scripts/datatable.Spanish.json")'
                }
            });

        }
        function GeneratedItemsTableNoFile(docItems, espacio) {

            var $table = $('<table/>');
            $table.addClass("table");
            $table.append('<thead><tr><th>Nombre</th></tr></thead>');
            var $tbody = $('<tbody/>');
            $.each(docItems, function (i, val) {
                var $row = $('<tr/>');
                $row.append($('<td/>').html(val.Name));
                $tbody.append($row);
            });
            $table.append($tbody);
            $('#'+espacio).html($table);
            $table.DataTable({
                "language": {
                    "url": '@Url.Content("~/scripts/datatable.Spanish.json")',
                }
            });

        }
        function GeneratedItemsTableIndicador(docItems, espacio) {

            var $table = $('<table/>');
            $table.addClass("table");
            $table.append('<thead><tr><th>Indicador</th><th>Valor Esperado</th></tr></thead>');
            var $tbody = $('<tbody/>');
            $.each(docItems, function (i, val) {
                var $row = $('<tr/>');
                $row.append($('<td/>').html(val.Name));
                $row.append($('<td/>').html(val.Desc));
                $tbody.append($row);
            });
            $table.append($tbody);
            $('#'+espacio).html($table);
            $table.DataTable({
                "language": {
                    "url": '@Url.Content("/scripts/datatable.Spanish.json")'
                }
            });

        }
        $(document).ready(function () {
            GeneratedItemsTable(docS,'docS');
            GeneratedItemsTableNoFile(partners,'partners');
            GeneratedItemsTableNoFile(padrinos,'padrinos');
            GeneratedItemsTableIndicador(indicadores,'indicadores');
            GeneratedItemsTable(docT,'docT');
        });
        $("#frm").submit(function(){
            $body.addClass("loading");
        });
    </script>


}