﻿@model EurekapsBridge.Models.eur_enterpriseprofile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>eur_enterpriseprofile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EP_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EP_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EP_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EP_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EP_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EP_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EP_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EP_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EP_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EP_EditUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EP_AutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
