﻿@model EurekapsBridge.Models.eur_enterpriseprofile

@{
  ViewBag.Title = "Edit";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>eur_enterpriseprofile</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EP_AutoID)

    <div class="form-group">
        @Html.LabelFor(model => model.EP_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EP_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EP_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EP_Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EP_Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EP_Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EP_State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.StateFor(model => model.EP_State,  new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.EP_State, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.EP_AddDate, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.EP_AddUser, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.EP_EditDate, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.EP_EditUser, new { htmlAttributes = new { @class = "form-control" } })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
