﻿@model IEnumerable<EurekapsBridge.Models.eur_enterpriseprofile>

@{
    ViewBag.Title = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administración de datos de Empresas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EP_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EP_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EP_State)
            </th>

            <th></th>
        </tr>
    </thead><tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EP_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EP_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EP_State)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.EP_AutoID }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.EP_AutoID })

        </td>
    </tr>
    }
</tbody>
</table>
