﻿@model EurekapsBridge.Models.IdeaViewModel

@{
  ViewBag.Title = "CreateIdea";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}
<h2>Reservar una idea</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id="frmIdea" }))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Campaña: @Model.IDP_CampainName</h4>
    <hr />

    @Html.HiddenFor(model => model.IDP_CampainID, new { htmlAttributes = new { @class = "form-control" } })


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.IDP_Name, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10 has-feedback">
            @Html.EditorFor(model => model.IDP_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombra a tu idea con una frase corta que relacione el resultado o entregable principal y el beneficio esperado." } })
            @Html.ValidationMessageFor(model => model.IDP_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDP_EPID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EmpresasFor(model => model.IDP_EPID, new { @class = "form-control", data_placeholder= "Selecciona la empresa del grupo en la que trabajas." })
            @Html.ValidationMessageFor(model => model.IDP_EPID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDP_Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.IDP_Description, 6, 0, new { @class = "form-control", placeholder = "Explica con el mayor detalle la idea a reservar. Incluir la situación identificada, oportunidad, las actividades , inversiones necesarias y beneficios esperados." })
            @Html.ValidationMessageFor(model => model.IDP_Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDP_APID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.AreasFor(model => model.IDP_APID, new { @class = "form-control", data_placeholder= "Selecciona el subproceso que  más impacta la Idea " })
            @Html.ValidationMessageFor(model => model.IDP_APID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDP_Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.IDP_Comment, 6, 0, new { @class = "form-control", placeholder = "Agrega recomendaciones y comentarios adicionales sobre la Idea." })
            @Html.ValidationMessageFor(model => model.IDP_Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("", "Archivo", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="Upload" name="Upload" type="file" placeholder="Adjunta fotos, cuadros, gráficas, bocetos, planos, resultados de encuestas y cualquier información que pueda sustentar y validar la Idea.">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Regresar a Mi Eurekaps", "Index", "Home", null, new { @class = "btn btn-danger pull-left" })
            <input id="btnGuardar" type="submit" value="Guardar" class="btn btn-success pull-right" />
        </div>
    </div>
</div>
}

<div>
  
</div>
@section scripts{
    <script>
        $("#frmIdea").submit(function () {
            $("#btnGuardar").attr("disabled", "disabled");
            $body.addClass("loading");
            swal("¡Felicitaciones!", "Has creado existosamente tu idea para la campaña @Model.IDP_CampainName", "success");
        });
    </script>
}
