﻿@model EurekapsBridge.Models.eur_ideaprofile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>eur_ideaprofile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDP_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_APID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_APID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_EPID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_EPID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_PreIdea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_PreIdea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_PostIdea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_PostIdea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_Scope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_Scope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_Schedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_DescInvest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_DescInvest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_Investment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_Investment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_InKind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_InKind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_Validation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_Validation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_Benefits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_Benefits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_BenefitsIndicators)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_BenefitsIndicators)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_ISPID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_ISPID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_Feedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_Feedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDP_ModifyUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDP_ModifyUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
