﻿@model EurekapsBridge.Models.eur_ideaprofile

@{
  ViewBag.Title = "Details";
}



<div>
  
  
    <div class="panel panel-default">
        <div class="panel-heading">Detalles de la Idea</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IDP_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDP_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IDP_Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDP_Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IDP_APID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDP_AreaName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IDP_Comment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDP_Comment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IDP_EPID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDP_EnterpriseName)
                </dd>

               
                <dt>
                    Fecha de Creación
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDP_AddDate)
                </dd>

                <dt>
                    Proponente
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDP_UserFullName)
                </dd>

                <dt>
                    Ultima Modificación
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDP_ModifyDate)
                </dd>

            </dl>
        </div>
    </div>
    
</div>
<p>
    @Html.ActionLink("Regresar", "Index",null, new { @class="btn btn-danger"})
</p>
