﻿@model EurekapsBridge.Models.eur_ideaprofile

@{
  ViewBag.Title = "CreateIdea";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}
<h2>Proponer una idea</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Campaña: @Model.IDP_CampainName</h4>
    <hr />

    @Html.HiddenFor(model => model.IDP_CampainID, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.IDP_AutoID)
    @Html.HiddenFor(model => model.IDP_AddDate, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.IDP_AddUser)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.IDP_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IDP_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IDP_Name, "", new { @class = "text-danger" })
        </div>
    </div>

  
    <div class="form-group">
        @Html.LabelFor(model => model.IDP_EPID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EmpresasFor(model => model.IDP_EPID, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDP_Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IDP_Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.IDP_Description,6,0, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDP_Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDP_APID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.AreasFor(model => model.IDP_APID, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDP_APID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDP_Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.IDP_Comment,6,0, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDP_Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("", "Archivo", new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            <div id="docItems">
               
            </div>
            <input id="Upload" name="Upload" type="file">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Regresar a mi ideas", "Index", null, new { @class = "btn btn-danger pull-left" })


            <input type="submit" value="Guardar" class="btn btn-success pull-right" />
        </div>
    </div>
</div>
}

@section scripts{
    <script src="~/Scripts/fileinput.min.js"></script>
    <script src="~/Scripts/fileinput_locale_es.js"></script>
    <script>
        var docItems = [];
        @foreach (var doc in (IEnumerable<EurekapsBridge.Models.eur_ideadocument>)ViewBag.Archivo)
        {
        @:docItems.push({Name: '@doc.ID_Path', ID:@doc.ID_AutoID});
                                     }
        function delDocument(id) {
            data = { id: id };
            $.ajax({
                url: '@Url.Action("DeleteFile","IdeaDocument")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        docItems = $.grep(docItems, function (e) {
                            return e.ID != id;
                        });
                        GeneratedItemsTable();
                    }
                    else {
                        alert('Failed');
                    }

                },
                error: function () {
                    alert('Error. Please try again.');

                }
            });
        }
        function GeneratedItemsTable() {

            var $table = $('<table/>');
            $table.addClass("table");
            $table.append('<thead><tr><th>Nombre</th><th></th></tr></thead>');
            var $tbody = $('<tbody/>');
            $.each(docItems, function (i, val) {
                var $row = $('<tr/>');
                $row.append($('<td/>').html('<a href="/Documentos/'+val.Name+'">'+val.Name+'</a>'));
                $row.append($('<td/>').html('<input type="button" class="btn btn-danger btn-xs" onclick="delDocument(' + val.ID + ')" value="Eliminar" />'));
                $tbody.append($row);
            });
            $table.append($tbody);
            $('#docItems').html($table);
            $table.DataTable({
                "language": {
                    "url": '@Url.Content("~/scripts/datatable.Spanish.json")',

                },
                paging:false,
            });

        }
        $(document).ready(function(){
            GeneratedItemsTable();
        });
    </script>
}
