﻿@model EurekapsBridge.Models.eur_ideaprofile

@{
  ViewBag.Title = "Editar Mi Inicitiva";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Mi Iniciativa</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" }))
{
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        Mi Iniciativa para @Model.IDP_CampainName
    </div>
    <div class="panel-body">
        <div>
            @Html.HiddenFor(a=> a.IDP_IniciativaDate)
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Datos Basicos</a>
                </li>
                <li role="presentation">
                    <a href="#colaboracion" aria-controls="colaboracion" role="tab" data-toggle="tab">Colaboración</a>
                </li>
                <li role="presentation">
                    <a href="#detalles" aria-controls="detalles" role="tab" data-toggle="tab">Detalles</a>
                </li>
                <li role="presentation">
                    <a href="#inversion" aria-controls="inversion" role="tab" data-toggle="tab">Inversión</a>
                </li>
                <li role="presentation">
                    <a href="#beneficios" aria-controls="beneficios" role="tab" data-toggle="tab">Beneficios</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h5>PASO 1: Datos Basicos</h5></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.IDP_Name, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.IDP_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IDP_Name, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.IDP_EPID, htmlAttributes: new { @class = "control-label " })
                                    @Html.EmpresasFor(model => model.IDP_EPID, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDP_EPID, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.IDP_APID, htmlAttributes: new { @class = "control-label " })
                                    @Html.AreasFor(model => model.IDP_APID, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDP_APID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_Description, htmlAttributes: new { @class = "control-label " })
                                    @Html.TextAreaFor(model => model.IDP_Description, 6, 0, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDP_Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_Comment, htmlAttributes: new { @class = "control-label " })
                                    @Html.TextAreaFor(model => model.IDP_Comment, 6, 0, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDP_Comment, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">Archivos Soportes</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div id="docS" class="col-md-12">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <input id="UploadS" name="UploadS" type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="colaboracion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5>PASO 2: Colaboración</h5>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel panel-heading"><h6>Colaboradores</h6> <small>Agrega los nombres de los colaboradores proponentes de la iniciativa. Máximo 4 adicionales, para un total de 5 proponentes.</small></div>
                                <div class="panel-body">
                                    <div class="form-group col-md-4">
                                        <label for="usr" class="control-label">Nombre Usuario</label>
                                        <input name="usr" id="usr" class="form-control" placeholder="Segun Usuario de outlook o No. Cedula" />
                                        <span class="error">Usuario es Requerido</span>
                                    </div>
                                    <div class="form-group col-md-7">
                                        <label for="usr_name" class="control-label">Nombre</label>
                                        <input name="usr_name" id="usr_name" readonly class="form-control" />

                                    </div>
                                    <div class="col-md-1">
                                        <br />
                                        <input type="button" class="btn btn-success btn-sm pull-right" value="Agregar" onclick="AgregarColaborador()" />
                                    </div>
                                    <div class="row">
                                        <div id="partners" class="col-md-12"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel panel-heading"><h6>Padrinos</h6> <small>Agrega los nombres de los colaboradores que han apoyado la estructuración de la Iniciativa como Padrinos. Máximo 3.</small></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label for="padrino" class="control-label">Nombre Usuario</label>
                                            <input name="padrino" id="padrino" placeholder="Segun usuario de Outlook o No. Cedula" class="form-control" />
                                            <span class="error">Usuario es Requerido</span>
                                        </div>
                                        <div class="form-group col-md-7">
                                            <label for="padrino_name" class="control-label">Nombre</label>
                                            <input name="padrino_name" id="padrino_name" readonly class="form-control" />

                                        </div>
                                        <div class="col-md-1">
                                            <br />
                                            <input type="button" class="btn btn-success btn-sm pull-right" value="Agregar" onclick="AgregarPadrino()" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="padrinos" class="col-md-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="detalles">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5>PASO 3: Detalles de la Iniciativa</h5>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_PreIdea, htmlAttributes: new { @class = "control-label" })
                                    <smal>Describe la situación actual y las consecuencias de continuar así, sin implementar la iniciativa.</smal>

                                    @Html.TextAreaFor(model => model.IDP_PreIdea, 6, 0, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDP_PreIdea, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_PostIdea, htmlAttributes: new { @class = "control-label" })
                                    <small>Describe como cambia la situación con la iniciativa implementada, identifica aspectos impactados que generan beneficios.</small>
                                    @Html.TextAreaFor(model => model.IDP_PostIdea, 6, 0, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDP_PostIdea, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_Scope, htmlAttributes: new { @class = "control-label" })
                                    <small>Enumera y describe las áreas y procesos impactados, el  alcance geográfico. Define que entregables son incluidos en la iniciativa y cuales no. Describe el límite, hasta donde llega la iniciativa.  Adjunta un desglose del trabajo a realizar.</small>
                                    @Html.TextAreaFor(model => model.IDP_Scope, 6, 0, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDP_Scope, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IDP_Schedule, htmlAttributes: new { @class = "control-label" })
                                    <small>Lista las actividades necesarias, considerando cuales deben realizarse primero como predecesoras de otras. Agrega un gráfico Gantt o cronograma.</small>
                                    @Html.TextAreaFor(model => model.IDP_Schedule, 6, 0, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDP_Schedule, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="inversion">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h5>PASO 4: Inversión Necesaria</h5></div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IDP_DescInvest, htmlAttributes: new { @class = "control-label" })
                                <small>Describe cada uno de los entregables que necesitan un desembolso en efectivo. Especifica cuáles son previos a la puesta en marcha y cuáles son gastos de la operación. Describe la inversión en especie y cómo podría cuantificarse en dinero.</small>
                                @Html.TextAreaFor(model => model.IDP_DescInvest, 6, 0, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDP_DescInvest, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                </div>
                                @Html.LabelFor(model => model.IDP_Investment, htmlAttributes: new { @class = "control-label" })
                                <small>Valor en pesos colombianos resultante de la suma de todos lo desembolsos preoperativos, y de la operación por 3 años.</small>
                                <div class="input-group">
                                    <span class="input-group-addon">$COP</span>
                                    @Html.EditorFor(model => model.IDP_Investment, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.IDP_Investment, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IDP_InKind, htmlAttributes: new { @class = "control-label" })
                                <small>Valor en pesos colombianos resultante de estimar un costo que represente la inversión en especie realizada en los primeros 3 años de operación y la implementación del proyecto.</small>

                                <div class="input-group">
                                    <span class="input-group-addon">$COP</span>
                                    @Html.EditorFor(model => model.IDP_InKind, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.IDP_InKind, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="beneficios">
                    <div class="panel panel-default">
                        <div class="panel-heading">Beneficios Resultantes</div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IDP_Benefits, htmlAttributes: new { @class = "control-label" })
                                <small>Describe cada uno de los entregables que necesitan un desembolso en efectivo</small>
                                @Html.TextAreaFor(model => model.IDP_Benefits, 6, 0, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDP_Benefits, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IDP_Validation, htmlAttributes: new { @class = "control-label" })
                                <smal>Describe los soportes que permiten comprobar la viabilidad y factibilidad del proyecto. Argumentos que respalden las estimaciones realizadas.</smal>
                                @Html.TextAreaFor(model => model.IDP_Validation, 6, 0, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDP_Validation, "", new { @class = "text-danger" })
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Archivos Pruebas de Validación</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div id="docT" class="col-md-12">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <input id="UploadT" name="UploadT" type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Indicadores</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group col-md-5">
                                                <label for="ind" class="control-label">Indicador</label>
                                                <input name="ind" id="ind" class="form-control" />
                                                <span class="error">Usuario es Requerido</span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="ind_desc" class="control-label">Valor Esperado</label>
                                                <input name="ind_desc" id="ind_desc" class="form-control" />
                                            </div>
                                            <div class="col-md-1">
                                                <br />
                                                <input type="button" class="btn btn-success btn-sm pull-right" value="Agregar" onclick="AgregarIndicador()" />
                                            </div>
                                        </div>
                                        <div id="indicadores" class="col-md-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
        <div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDP_AutoID)
            @Html.HiddenFor(model => model.IDP_AddDate)
            @Html.HiddenFor(model => model.IDP_AddUser)
            @Html.HiddenFor(model => model.IDP_ModifyDate)
            @Html.HiddenFor(model => model.IDP_ModifyUser)
            @Html.HiddenFor(model => model.IDP_CampainID)
            @Html.HiddenFor(model => model.IDP_Status)

            <div class="form-group">
                <div class="">
                    @Html.ActionLink("Regresar a mi iniciativas", "IndexIN", null, new { @class = "btn btn-danger pull-left" })
                    <input type="submit" value="Guardar" class="btn btn-success pull-right" />
                </div>
            </div>
        </div>
    </div>
</div>
}

@section styles{
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}
@section scripts{
    <script>
        var docS = [];
        var partners = [];
        var padrinos=[];
        var indicadores = [];
        var docT =[];
        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideadocument>)ViewBag.Archivo)
        {
            @:docS.push({Name: '@item.ID_Path', ID:@item.ID_AutoID, Type:'S'});
                                                                                                                    }
        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideapartner>)ViewBag.Colaboradores)
        {
            @:partners.push({Name:'@item.IP_FullName', ID:@item.IP_AutoID,Row:'Partner'});
                                                                                                                        }
        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideasponsor>)ViewBag.Padrinos)
        {
            @:padrinos.push({Name:'@item.IS_FullName', ID:@item.IS_AutoID,Row:'Padrino'});
                                                                                                                    }
        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideaindicators>)ViewBag.Indicadores)
        {
        @:indicadores.push({Name:'@item.II_Name', ID:@item.II_AutoID,Row:'IdeaIndicador', Desc:'@item.II_Description'});
                                                                            }
        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideadocument>)ViewBag.Validacion)
        {
        @:docT.push({Name: '@item.ID_Path', ID:@item.ID_AutoID, Type:'V'});
                                                                        }
        function delDocument(id,tipo) {
            data = { id: id };
            $.ajax({
                url: '@Url.Action("DeleteFile","IdeaDocument")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        if(tipo==='S'){
                            docS = $.grep(docS, function (e) {
                                return e.ID != id;
                            });
                            GeneratedItemsTable(docS,"docS");
                        }
                        if(tipo==='V'){
                            docT = $.grep(docT, function (e) {
                                return e.ID != id;
                            });
                            GeneratedItemsTable(docT,"docT");
                        }
                    }
                    else {
                        alert('Failed');
                    }

                },
                error: function () {
                    alert('Error. Please try again.');

                }
            });
        }
        function delRow(id, RowType) {
            data = { id: id };
            $.ajax({
                url: '/'+RowType+'/DeleteRow',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        if(RowType === 'Partner'){
                            partners = $.grep(partners, function (e) {
                                return e.ID != id;
                            });
                            GeneratedItemsTableNoFile(partners,"partners");
                        }
                        if(RowType === 'IdeaIndicador'){
                            indicadores = $.grep(indicadores, function (e) {
                                return e.ID != id;
                            });
                            GeneratedItemsTableIndicador(indicadores,"indicadores");

                        }
                        if(RowType === 'Padrino'){
                            padrinos = $.grep(padrinos, function (e) {
                                return e.ID != id;
                            });
                            GeneratedItemsTableNoFile(padrinos,"padrinos");

                        }

                    }
                    else {
                        alert('Failed');
                    }

                },
                error: function () {
                    alert('Error. Please try again.');

                }
            });
        }
        function GeneratedItemsTable(docItems, espacio) {

            var $table = $('<table/>');
            $table.addClass("table");
            $table.append('<thead><tr><th>Nombre</th><th></th></tr></thead>');
            var $tbody = $('<tbody/>');
            $.each(docItems, function (i, val) {
                var $row = $('<tr/>');
                $row.append($('<td/>').html('<a href="/Documentos/'+val.Name+'">'+val.Name+'</a>'));
                $row.append($('<td/>').html('<input type="button" class="btn btn-xs btn-danger" onclick="delDocument(' + val.ID + ',\''+val.Type+'\')" value="Eliminar" />'));
                $tbody.append($row);
            });
            $table.append($tbody);
            $('#'+espacio).html($table);
            $table.DataTable({
                "language": {
                    "url": '@Url.Content("~/scripts/datatable.Spanish.json")'
                },
                "searching": false,
                paging:false,
            });

        }
        function GeneratedItemsTableNoFile(docItems, espacio) {

            var $table = $('<table/>');
            $table.addClass("table");
            $table.append('<thead><tr><th>Nombre</th><th></th></tr></thead>');
            var $tbody = $('<tbody/>');
            $.each(docItems, function (i, val) {
                var $row = $('<tr/>');
                $row.append($('<td/>').html(val.Name));
                $row.append($('<td/>').html('<input type="button" class="btn btn-xs btn-danger" onclick="delRow(' + val.ID + ',\''+val.Row+'\')" value="Eliminar" />'));
                $tbody.append($row);
            });
            $table.append($tbody);
            $table.css("width","100%");
            $('#'+espacio).html($table);
            $table.DataTable({
                "language": {
                    "url": '@Url.Content("~/scripts/datatable.Spanish.json")',
                },
                paging : false,
                "searching": false
            });

        }
        function GeneratedItemsTableIndicador(docItems, espacio) {

            var $table = $('<table/>');
            
            $table.append('<thead><tr><th>Indicador</th><th>Valor Esperado</th><th></th></tr></thead>');
            var $tbody = $('<tbody/>');
            $.each(docItems, function (i, val) {
                var $row = $('<tr/>');
                $row.append($('<td/>').html(val.Name));
                $row.append($('<td/>').html(val.Desc));
                $row.append($('<td/>').html('<input type="button" class="btn btn-xs btn-danger" onclick="delRow(' + val.ID + ',\''+val.Row+'\')" value="Eliminar" />'));
                $tbody.append($row);
            });
            $table.append($tbody);
            $('#'+espacio).html($table);
            $table.addClass("table");
            $table.DataTable({
                "language": {
                    "url": '@Url.Content("/scripts/datatable.Spanish.json")'
                },
                "searching": false,
                paging:false,
            });

        }
        function AgregarIndicador(){
            //Check validation of order item
            var isValidItem = true;
            if ($('#ind').val().trim() == '') {
                isValidItem = false;
                $('#ind').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#ind').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#ind_desc').val().trim() == '') {
                isValidItem = false;
                $('#ind_desc').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#ind_desc').siblings('span.error').css('visibility', 'hidden');
            }
            //Add item to list if valid
            if (isValidItem) {
                data={
                    Name: $('#ind').val().trim(),
                    id: @Model.IDP_AutoID,
                    Desc: $('#ind_desc').val().trim(),
                };
                $.ajax({
                    url: '@Url.Action("CreateVM","IdeaIndicador")',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status == true) {
                            indicadores.push({
                                Name: $('#ind').val().trim(),
                                ID:d.id,
                                Row:'IdeaIndicador',
                                Desc:$('#ind_desc').val().trim()
                            });
                            //Clear fields
                            $('#ind,#ind_desc').val('');
                            //populate order items
                            GeneratedItemsTableIndicador(indicadores,"indicadores");
                        }
                    },
                    error: function () {
                        alert('Error. Please try again.');
                        $('#submit').val('Save');
                    }
                });
            }
        }
        function AgregarColaborador()
        {
            //Check validation of order item
            var isValidItem = true;
            if ($('#usr').val().trim() == '') {
                isValidItem = false;
                $('#usr').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#usr').siblings('span.error').css('visibility', 'hidden');
            }
            //Add item to list if valid
            if (isValidItem) {
                data={
                    Name: $('#usr').val().trim(),
                    id: @Model.IDP_AutoID,
                };
                $.ajax({
                    url: '@Url.Action("CreateVM","Partner")',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status == true) {
                            partners.push({
                                Name: $('#usr_name').val().trim(),
                                ID:d.id,
                                Row:'Partner'
                            });
                            //Clear fields
                            $('#usr,#usr_name').val('');
                            //populate order items
                            GeneratedItemsTableNoFile(partners,"partners");
                        }
                    },
                    error: function () {
                        swal("La persona que deseas agregar no existe", "Por favor, verifica el usuario e intentalo nuevamente", "error");
                    }
                });
            }

        }
        function AgregarPadrino()
        {
            //Check validation of order item
            var isValidItem = true;
            if ($('#padrino').val().trim() == '') {
                isValidItem = false;
                $('#padrino').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#padrino').siblings('span.error').css('visibility', 'hidden');
            }
            //Add item to list if valid
            if (isValidItem) {
                data={
                    Name: $('#padrino').val().trim(),
                    id: @Model.IDP_AutoID,
                };
                $.ajax({
                    url: '@Url.Action("CreateVM","Padrino")',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status == true) {
                            padrinos.push({
                                Name: $('#padrino_name').val().trim(),
                                ID:d.id,
                                Row:'Padrino'
                            });
                            //Clear fields
                            $('#padrino,#padrino_name').val('');
                            //populate order items
                            GeneratedItemsTableNoFile(padrinos,"padrinos");
                        }
                    },
                    error: function () {
                        swal("La persona que deseas agregar no existe", "Por favor, verifica el usuario e intentalo nuevamente", "error");
                    }
                });
            }

        }
        $(document).ready(function () {
            GeneratedItemsTable(docS,'docS');
            GeneratedItemsTableNoFile(partners,'partners');
            GeneratedItemsTableNoFile(padrinos,'padrinos');
            GeneratedItemsTableIndicador(indicadores,'indicadores');
            GeneratedItemsTable(docT,'docT');
            $("#usr").blur(function() {
                if($("#usr").val() !== ''){
                    data ={
                        User : $("#usr").val().trim()
                    };
                    $.ajax({
                        url: '@Url.Action("Get","Account")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.status == true) {
                                $('#usr_name').val(d.FullName);
                            }else{
                               
                                swal({
                                    title:"Usuario no encontrado", 
                                    text:"Por favor verifica el usuario e intenta nuevamente", 
                                    type:"error"
                                }, function(){
                                    $('#usr').val("");
                                });
                            }
                        },
                        error: function () {
                            swal("Ocurrio un error", "Eurekaps ya esta enterado del error, estamos verificando.", "error");
                        }
                    });
                }
                else{
                    $("#usr_name").val('');
                }
            });
            $("#padrino").blur(function() {
                if($("#padrino").val() !== ''){
                    data ={
                        User : $("#padrino").val().trim()
                    };
                    $.ajax({
                        url: '@Url.Action("Get","Account")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.status == true) {
                                $('#padrino_name').val(d.FullName);
                            }else{
                                $('#padrino_name').val("");
                                swal({
                                    title:"Usuario no encontrado", 
                                    text:"Por favor verifica el usuario e intenta nuevamente", 
                                    type:"error"
                                }, function(){
                                    $('#padrino').val("");
                                });

                            }
                        },
                        error: function () {
                            swal("Ocurrio un error", "Eurekaps ya esta enterado del error, estamos verificando.", "error");
                        }
                    });
                }
                else{
                    $("#usr_name").val('');
                }
            });
            $("#UploadS").fileinput(
                "refresh",
                {
                    showPreview:false,
                    'showUpload': true,
                    uploadUrl: '@Url.Action("CreateFile","IdeaDocument")',
                    uploadExtraData: { id: '@Model.IDP_AutoID', tipo: 'S' },
                    dropZoneEnabled: false,
                }
                );
            $('#UploadS').on('fileuploaded', function(event, data, previewId, index) {
                var form = data.form, files = data.files, extra = data.extra,
                    response = data.response, reader = data.reader;
                if(response.status){
                    docS.push({Name: response.Name, ID:response.id, Type:'S'});
                    GeneratedItemsTable(docS,'docS');
                

                }
            });
            $("#UploadT").fileinput(
               "refresh",
               {
                   showPreview:false,
                   'showUpload': true,
                   uploadUrl: '@Url.Action("CreateFile","IdeaDocument")',
                   uploadExtraData: { id: '@Model.IDP_AutoID', tipo: 'V' },
                   dropZoneEnabled: false,
               }
               );
            $('#UploadT').on('fileuploaded', function(event, data, previewId, index) {
                var form = data.form, files = data.files, extra = data.extra,
                    response = data.response, reader = data.reader;
                if(response.status){
                    docT.push({Name: response.Name, ID:response.id, Type:'V'});
                    GeneratedItemsTable(docT,'docT');
                 
                }
            });
        });

    </script>
    @if (Model.IDP_Status == "IN")
    {
    <script>

        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditIniciativaJson","Idea")',
                data: $("#frm").serialize(), // serializes the form's elements.
                success: function(data)
                {
                    if(!data.status){
                        console.log("Ocurrio un error al tratar de guardar");
                    }
                }
            });
        });
        $('#frm').submit(function(e) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditIniciativaJson","Idea")',
                data: $("#frm").serialize(), // serializes the form's elements.
                success: function(data)
                {
                    if(!data.status){
                        console.log("Ocurrio un error al tratar de guardar");
                    }
                    swal("Buen Trabajo!", "Los datos fueron guardados. Puedes seguir editando tu iniciativa.", "success")
                }
            });
            e.preventDefault();
        });
        function Solonumeros(e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 16]) !== -1 ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        }
        $("#IDP_Investment").keydown(function(e){
            return Solonumeros(e);
        });
        $("#IDP_InKind").keydown(function(e){
            return Solonumeros(e);
        });
    </script>
    }

}