﻿@model IEnumerable<EurekapsBridge.Models.eur_ideaprofile>

@{
  ViewBag.Title = "Index";
}

<h2>Mis Ideas</h2>
Estas son tus Ideas reservadas a la fecha. Para transformarlas en Iniciativas has clic en el enlace “Presentar Iniciativa” del lado derecho de cada una de ellas.
<br />
<br />
<div class="panel panel-default">
    <div class="panel-heading">Ideas Campañas Vigentes</div>
    <div class="panel-body">

        <table class="table_No_Paging">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IDP_CampainID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDP_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDP_EPID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDP_APID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDP_AddDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.IDP_CampainName, "Detalles", "Campana", new { id = item.IDP_CampainID }, null)<br />
                        Faltan @( item.IDP_CampainCierre ) días para cerrar esta campaña
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDP_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDP_EnterpriseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDP_AreaName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDP_AddDate)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditIdea", new { id = item.IDP_AutoID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.IDP_AutoID }) |
                        <a href="javascript:ShowPopUp(@item.IDP_AutoID)">Presentar Iniciativa</a>

                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Ideas Campañas Vencidas</div>
    <div class="panel-body">
        <table class="table_No_Paging">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IDP_CampainID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDP_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDP_EPID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDP_APID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDP_AddDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideaprofile>)ViewBag.Vencidas)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.IDP_CampainName, "Detalles", "Campana", new { id = item.IDP_CampainID }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDP_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDP_EnterpriseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDP_AreaName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDP_AddDate)
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = item.IDP_AutoID })

                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@Html.ActionLink("Regresar a Mi Eurekaps", "Index", "Home", null, new { @class = "btn btn-danger pull-left" })
@section Scripts{
    <script>
        function ShowPopUp(idea) {
            swal({
                title: "Tu idea ya es una iniciativa",
                text: "Acabas de convertir tu idea en iniciativa. <br />Para editarla la proxima vez encuentrala en Mi Eurekaps, sección Mis Iniciativas.",
                type: "info",
                html: true
            },
                function () {
                    $.ajax({
                        url: "/Idea/SendMail/" + idea,
                        method:"POST",
                        success: function () {
                            window.location = '/Idea/EditIniciativa/' + idea;

                        }
                    });

                });
        }
    </script>
}