﻿@model IEnumerable<EurekapsBridge.Models.eur_ideaprofile>

@{
  ViewBag.Title = "Index";
}
<h2>Iniciativas en las que participo</h2>
<div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Mis Iniciativas</h3>Haz clic en “Editar” para agregar información y presentar mejor tu Iniciativa</div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_CampainID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_EPID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_APID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_ModifyDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.ActionLink(item.IDP_CampainName, "Detalles","Campana", new { id = item.IDP_CampainID }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_EnterpriseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_AreaName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_ModifyDate)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditIniciativa", new { id = item.IDP_AutoID }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.IDP_AutoID })

                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Mis Iniciativas por Ajustar</h3></div>

        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IDP_CampainID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDP_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDP_EPID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDP_APID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDP_ModifyDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideaprofile>)ViewBag.Feedbak)
                    {
                    <tr>
                        <td>
                            @Html.ActionLink(item.IDP_CampainName, "Detalles", "Campana", new { id = item.IDP_CampainID }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDP_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDP_EnterpriseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDP_AreaName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDP_ModifyDate)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "EditIniciativa", new { id = item.IDP_AutoID }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.IDP_AutoID })

                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Mis Iniciativas Vencidas</h3></div>

        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IDP_CampainID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDP_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDP_EPID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDP_APID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDP_ModifyDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideaprofile>)ViewBag.Vencidas)
                    {
                    <tr>
                        <td>
                            @Html.ActionLink(item.IDP_CampainName, "Detalles", "Campana", new { id = item.IDP_CampainID }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDP_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDP_EnterpriseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDP_AreaName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDP_ModifyDate)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new { id = item.IDP_AutoID })

                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>
        
    <div class="panel panel-default">
            <div class="panel-heading">
                Participo como Compañero
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_CampainID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_EPID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_APID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_ModifyDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideaprofile>)ViewBag.Compañero)
                        {
                        <tr>
                            <td>
                                @Html.ActionLink(item.IDP_CampainName, "Detalles","Campana", new { id = item.IDP_CampainID }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_EnterpriseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_AreaName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_ModifyDate)
                            </td>
                            <td>
                                @Html.ActionLink("Detalles", "Details", new { id = item.IDP_AutoID })

                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Participo como Padrino</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_CampainID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_EPID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_APID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IDP_ModifyDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in (IEnumerable<EurekapsBridge.Models.eur_ideaprofile>)ViewBag.Padrino)
                        {
                        <tr>
                            <td>
                                @Html.ActionLink(item.IDP_CampainName, "Detalles","Campana", new { id = item.IDP_CampainID }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_EnterpriseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_AreaName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDP_ModifyDate)
                            </td>
                            <td>
                                @Html.ActionLink("Detalles", "Details", new { id = item.IDP_AutoID })

                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    @Html.ActionLink("Regresar a Mi Eurekaps", "Index", "Home", null, new { @class = "btn btn-danger pull-left" })

    
</div>