﻿@model EurekapsBridge.Models.eur_campaincriteria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>eur_campaincriteria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CMC_CampainID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMC_CampainID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMC_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMC_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMC_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMC_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMC_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMC_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMC_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMC_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMC_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMC_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMC_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMC_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMC_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMC_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMC_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMC_EditUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CMC_AutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
