﻿@model IEnumerable<EurekapsBridge.Models.eur_campaincriteria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CMC_CampainID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMC_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMC_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMC_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMC_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMC_AddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMC_AddUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMC_EditDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMC_EditUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CMC_CampainID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMC_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMC_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMC_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMC_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMC_AddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMC_AddUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMC_EditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMC_EditUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CMC_AutoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CMC_AutoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CMC_AutoID })
        </td>
    </tr>
}

</table>
