﻿@model EurekapsBridge.Models.eur_ideastateprofile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>eur_ideastateprofile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ISP_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISP_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISP_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISP_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISP_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISP_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISP_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISP_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISP_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISP_EditUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ISP_AutoID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
