﻿@model EurekapsBridge.Models.eur_ideastateprofile

@{
  ViewBag.Title = "Edit";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>eur_ideastateprofile</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ISP_AutoID)

    <div class="form-group">
        @Html.LabelFor(model => model.ISP_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ISP_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ISP_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ISP_Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ISP_Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ISP_Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ISP_State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.StateFor(model => model.ISP_State, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ISP_State, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.ISP_AddDate, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.ISP_AddUser, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.ISP_EditDate, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.ISP_EditUser, new { htmlAttributes = new { @class = "form-control" } })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
