﻿@model EurekapsBridge.Models.CampainViewModel

@{
  ViewBag.Title = "Create";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }
    </style>
}
<h2>Crear</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<h4>Campaña</h4>
<hr />

<div class="panel panel-default">
    <div class="panel-heading">Información de la Campaña</div>
    <div class="panel-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_CampainID, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.CAM_CampainID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CAM_CampainID, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.CAM_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CAM_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_State, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.StateFor(model => model.CAM_State, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CAM_State, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextAreaFor(model => model.CAM_Description, new { @class = "form-control", rows = 4 })
                    @Html.ValidationMessageFor(model => model.CAM_Description, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_FechaIdeas, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.CAM_FechaIdeas, "{0:yyyy-MM-dd}", new { @class = "form-control", @type="date" })
                    @Html.ValidationMessageFor(model => model.CAM_FechaIdeas, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_GFechaIniciativas, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.CAM_GFechaIniciativas, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.CAM_GFechaIniciativas, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="panel panel-default">

            <div class="panel-heading">Criterios Especificos</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cri_name" class="control-label">Nombre</label>
                            <input type="text" id="cri_name" name="cri_name" class="form-control" />
                            <span class="error">Nombre es Requerido</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cri_desc" class="control-label">Descripción</label>
                            <input type="text" id="cri_desc" name="cri_desc" class="form-control" />

                        </div>
                    </div>
                            <input type="hidden" value="E" id="cri_type" name="cri_type" class="form-control">
                           
                    <div class="col-md-3">
                        <div class="form-group">
                            <br />
                            <input type="button" id="add_cri" value="Agregar" class="btn btn-success pull-right" />
                        </div>
                    </div>
                </div>
                <div id="criItems" class="tablecontainer">

                </div>
            </div>
        </div>
        <div class="panel panel-default">

            <div class="panel-heading">Requisitos Especificos</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="req_name" class="control-label">Nombre</label>
                            <input type="text" id="req_name" name="req_name" class="form-control" />
                            <span class="error">Nombre es Requerido</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="req_desc" class="control-label">Descripción</label>
                            <input type="text" id="req_desc" name="req_desc" class="form-control" />

                        </div>
                    </div>
                            <input type="hidden" id="req_type" name="req_type" class="form-control" value="E">
                               
                            
                    <div class="col-md-3">
                        <div class="form-group">
                            <br />
                            <input type="button" id="add_req" value="Agregar" class="btn btn-success pull-right" />
                        </div>
                    </div>
                </div>
                <div id="reqItems">

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-10 col-md-2 ">
                <input type="button" id="submit" value="Crear" class="btn btn-success pull-right" />
            </div>
        </div>
    </div>

</div>




}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
@section scripts{
    <script>

        $(document).ready(function () {
            var criItems = [];
            var reqItems = [];
            //Add button click function
            $('#add_cri').click(function () {
                //Check validation of order item
                var isValidItem = true;
                if ($('#cri_name').val().trim() == '') {
                    isValidItem = false;
                    $('#cri_name').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#cri_name').siblings('span.error').css('visibility', 'hidden');
                }
                //Add item to list if valid
                if (isValidItem) {
                    criItems.push({
                        Name: $('#cri_name').val().trim(),
                        Description: $('#cri_desc').val().trim(),
                        Type: $('#cri_type').val().trim(),
                        State: "A",
                    });

                    //Clear fields
                    $('#cri_name,#cri_desc').val('');

                }
                //populate order items
                GeneratedItemsTable_C();

            });
            $('#add_req').click(function () {
                //Check validation of order item
                var isValidItem = true;
                if ($('#req_name').val().trim() == '') {
                    isValidItem = false;
                    $('#req_name').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#req_name').siblings('span.error').css('visibility', 'hidden');
                }
                //Add item to list if valid
                if (isValidItem) {
                    reqItems.push({
                        Name: $('#req_name').val().trim(),
                        Description: $('#req_desc').val().trim(),
                        Type: $('#req_type').val().trim(),
                        State: "A",
                    });

                    //Clear fields
                    $('#req_name,#req_desc').val('');

                }
                //populate order items
                GeneratedItemsTable_R();

            });
            //Save button click function
            $('#submit').click(function () {
                //validation of order
                var isAllValid = true;
               
                //Save if valid
                if (isAllValid) {
                    var data = {
                        CAM_CampainID: $('#CAM_CampainID').val().trim(),
                        CAM_Name: $('#CAM_Name').val().trim(),
                        //Sorry forgot to add Description Field
                        CAM_State: $('#CAM_State').val().trim(),
                        CAM_Description: $('#CAM_Description').val().trim(),
                        Requirimientos: reqItems,
                        Criterios: criItems
                    }

                    $(this).val('Please wait...');

                    $.ajax({
                        url: '@Url.Action("CreateVM","Campana")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            //check is successfully save to database
                            if (d.status == true) {
                                window.location.href = '@Url.Action("index")';
                            }
                            else {
                                alert('Failed');
                            }
                            $('#submit').val('Save');
                        },
                        error: function () {
                            alert('Error. Please try again.');
                            $('#submit').val('Save');
                        }
                    });
                }

            });
            //function for show added items in table
            function GeneratedItemsTable_C() {
                if (criItems.length > 0) {
                    var $table = $('<table/>');
                    $table.addClass("table");
                    $table.append('<thead><tr><th>Nombre</th><th>Descripción</th><th>Tipo</th></tr></thead>');
                    var $tbody = $('<tbody/>');
                    $.each(criItems, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.Name));
                        $row.append($('<td/>').html(val.Description));
                        $row.append($('<td/>').html(val.Type));
                        $tbody.append($row);
                    });
                    $table.append($tbody);
                    $('#criItems').html($table);
                }
            }
            function GeneratedItemsTable_R() {
                if (criItems.length > 0) {
                    var $table = $('<table/>');
                    $table.addClass("table");
                    $table.append('<thead><tr><th>Nombre</th><th>Descripción</th><th>Tipo</th></tr></thead>');
                    var $tbody = $('<tbody/>');
                    $.each(reqItems, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.Name));
                        $row.append($('<td/>').html(val.Description));
                        $row.append($('<td/>').html(val.Type));
                        $tbody.append($row);
                    });
                    $table.append($tbody);
                    $('#reqItems').html($table);
                }
            }
        });

    </script>
}
