﻿@model EurekapsBridge.Models.eur_campainprofile

@{
  ViewBag.Title = "Create";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<h4>Campaña</h4>
<hr />

<div class="panel panel-default">
    <div class="panel-heading">Información de la Campaña</div>
    <div class="panel-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_CampainID, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.CAM_CampainID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CAM_CampainID, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.CAM_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CAM_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_State, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.StateFor(model => model.CAM_State, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.CAM_State, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextAreaFor(model => model.CAM_Description, new { @class = "form-control", rows=4 } )
                    @Html.ValidationMessageFor(model => model.CAM_Description, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>


        <div class="form-group">
            <div class="col-md-offset-10 col-md-2 pull-right">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>

</div>

       


}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
