﻿@model EurekapsBridge.Models.eur_campainprofile

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>eur_campainprofile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CAM_CampainID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAM_CampainID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAM_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAM_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAM_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAM_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAM_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAM_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAM_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAM_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAM_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAM_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAM_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAM_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAM_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAM_EditUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
