﻿@model EurekapsBridge.Models.eur_campainprofile

@{
  ViewBag.Title = "Details";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.CAM_Name) - @Html.DisplayFor(model => model.CAM_CampainID)</h2>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">Información de la Campaña</div>
        <div class="panel-body">
            <div class="row">
                <div class="container">
                    Descripción<br />
                    <b class="col-md-12">@Html.DisplayFor(model => model.CAM_Description)</b>
                    Fecha Cierre Ideas: <b>@Model.CAM_FechaIdea.ToString("yyyy-MM-dd")</b><br />
                    Fecha Cierre Iniciativas: <b>@Model.CAM_FechaIniciativa.ToString("yyyy-MM-dd")</b><br />

                    Requisitos
                    <ul>
                        @foreach (var req in (IEnumerable<EurekapsBridge.Models.eur_campainreq>)ViewBag.Requerimientos)
                        {
                        <li><b>@req.CMR_Name:</b> @req.CMR_Description</li>
                        }
                    </ul>
                    Criterios
                    <ul>
                        @foreach (var req in (IEnumerable<EurekapsBridge.Models.eur_campaincriteria>)ViewBag.Criterios)
                        {
                        <li><b>@req.CMC_Name:</b> @req.CMC_Description</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">

            <p>Ideas Registradas</p>

        </div>
        <div class="panel-body">
            <table class="table_Paging">
                <thead>
                    <tr>
                        <td>Nombre Idea</td>
                        <td>Proponente</td>
                        <td>Empresa</td>
                        <td>Fecha Creación</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var idea in (IEnumerable<EurekapsBridge.Models.eur_ideaprofile>)ViewBag.Ideas)
                    {
                    <tr>
                        <td>@idea.IDP_Name</td>
                        <td>@idea.IDP_UserFullName</td>
                        <td>@idea.IDP_EnterpriseName</td>
                        <td>@idea.IDP_AddDate</td>
                        <td>@Html.ActionLink("Ver Detalles", "Details", "Idea", new { id = idea.IDP_AutoID }, new { @class = "btn btn-sm btn-success" })</td>
                    </tr>

                    }
                </tbody>

            </table>


        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">

            <p>Iniciativas Registradas</p>
        </div>
        <div class="panel-body">
            <table class="table_Paging">
                <thead>
                    <tr>
                        <td>Nombre Idea</td>
                        <td>Proponente</td>
                        <td>Empresa</td>
                        <td>Fecha Creación</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var idea in (IEnumerable<EurekapsBridge.Models.eur_ideaprofile>)ViewBag.Iniciativas)
                    {
                    <tr>
                        <td>@idea.IDP_Name</td>
                        <td>@idea.IDP_UserFullName</td>
                        <td>@idea.IDP_EnterpriseName</td>
                        <td>@idea.IDP_IniciativaDate</td>
                        <td>@Html.ActionLink("Evaluar", "Evaluar", "Evaluacion", new { id = idea.IDP_AutoID }, new { @class = "btn btn-sm btn-success" })</td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
           
            <p>Iniciativas Evaluadas Pendientes</p>
        </div>
        <div class="panel-body">
            <table class="table_Paging">
                <thead>
                    <tr>
                        <td>Nombre Idea</td>
                        <td>Proponente</td>
                        <td>Empresa</td>
                        <td>Fecha Creación</td>
                        <td>Evaluación</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var idea in (IEnumerable<EurekapsBridge.Models.eur_ideaprofile>)ViewBag.Pendientes)
                    {
                    <tr>
                        <td>@idea.IDP_Name</td>
                        <td>@idea.IDP_UserFullName</td>
                        <td>@idea.IDP_EnterpriseName</td>
                        <td>@idea.IDP_IniciativaDate</td>
                        <td>@idea.IDP_TotalEval</td>
                        <
                        <td>@Html.ActionLink("Evaluar", "Evaluar", "Evaluacion", new { id = idea.IDP_AutoID }, new { @class = "btn btn-sm btn-success" })</td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (Model.CAM_FechaIniciativa < DateTime.Now)
            {
            <div class="btn-group pull-right">
                <a href="javascript:Premiar('IN')" class="btn btn-primary">Premiar</a>
            </div>
            }
            <p>Iniciativas Evaluadas</p>
        </div>
        <div class="panel-body">
            <table class="table_Paging">
                <thead>
                    <tr>
                        <td>Nombre Idea</td>
                        <td>Proponente</td>
                        <td>Empresa</td>
                        <td>Evaluación</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var idea in (IEnumerable<EurekapsBridge.Models.eur_ideaprofile>)ViewBag.Evaluadas)
                    {
                    <tr>
                        <td>@idea.IDP_Name</td>
                        <td>@idea.IDP_UserFullName</td>
                        <td>@idea.IDP_EnterpriseName</td>
                        <td>@idea.IDP_TotalEval</td>
                        <td>@Html.ActionLink("Crear Proyecto", "AsignarLider", "Proyecto", new { id = idea.IDP_AutoID, cAutoId = Model.CAM_AutoID }, new { @class = "btn btn-sm btn-success" })</td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Proyectos</div>
        <div class="panel-body">
            <table class="table_Paging">
                <thead>
                    <tr>
                        <td>Nombre Idea</td>
                        <td>Lider</td>
                        <td>Empresa</td>
                        <td>Fecha Creación</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var idea in (IEnumerable<EurekapsBridge.Models.eur_projectprofile>)ViewBag.Proyectos)
                    {
                    <tr>
                        <td>@idea.PP_NombreIdea</td>
                        <td>@idea.PP_Leader</td>
                        <td>@Html.ActionLink("Modificar", "Edit", "Proyecto", new { id = idea.PP_AutoID }, new { @class = "btn btn-sm btn-success" })</td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>



</div>

@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
@section Scripts{
    <script>
        function Premiar(id) {
            $.ajax({
                url: "/Puntos/AsignarPuntos",
                data: { Tipo: id, campID: '@Model.CAM_CampainID' },
                method: "POST",
                success: function (data) {
                    if (data)
                        swal("Buen Trabajo!", "Ahora las ideas fueron premiadas", "success");
                    else
                        swal("Houston, hemos tenido un problema!", "Algo sucedio al premiar las ideas, por favor verifique", "error");
                }
            });
        }
    </script>
}