﻿@model EurekapsBridge.Models.eur_campainprofile

@{
  ViewBag.Title = "Details";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.CAM_Name) - @Html.DisplayFor(model => model.CAM_CampainID)</h2>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">Información de la Campaña</div>
        <div class="panel-body">
            <div class="row">
                <div class="container">
                    Descripción<br />
                    <b class="col-md-12">@Html.DisplayFor(model => model.CAM_Description)</b>
                    Requisitos
                    <ul>
                        @foreach (var req in (IEnumerable<EurekapsBridge.Models.eur_campainreq>)ViewBag.Requerimientos)
                        {
                        <li><b>@req.CMR_Name:</b> @req.CMR_Description</li>
                        }
                    </ul>
                    Criterios
                    <ul>
                        @foreach (var req in (IEnumerable<EurekapsBridge.Models.eur_campaincriteria>)ViewBag.Criterios)
                        {
                        <li><b>@req.CMC_Name:</b> @req.CMC_Description</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

   
</div>



