﻿@model EurekapsBridge.Models.eur_campainprofile


@{
  ViewBag.Title = "Edit";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Campaña</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="panel panel-default">
    <div class="panel-heading">Información de la Campaña</div>
    <div class="panel-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_CampainID, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.CAM_CampainID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CAM_CampainID, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.CAM_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CAM_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_State, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.StateFor(model => model.CAM_State, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CAM_State, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextAreaFor(model => model.CAM_Description, new { @class = "form-control", rows = 4 })
                    @Html.ValidationMessageFor(model => model.CAM_Description, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_FechaIdea, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.CAM_FechaIdea, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.CAM_FechaIdea, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CAM_FechaIniciativa, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.CAM_FechaIniciativa, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.CAM_FechaIniciativa, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="panel panel-default">

            <div class="panel-heading">Criterios Especificos</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cri_name" class="control-label">Nombre</label>
                            <input type="text" id="cri_name" name="cri_name" class="form-control" />
                            <span class="error">Nombre es Requerido</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cri_desc" class="control-label">Descripción</label>
                            <input type="text" id="cri_desc" name="cri_desc" class="form-control" />

                        </div>
                    </div>
                    <input type="hidden" id="cri_type" name="cri_type" class="form-control" value="E">
                    <div class="col-md-3">
                        <div class="form-group">
                            <br />
                            <input type="button" id="add_cri" value="Agregar" class="btn btn-success pull-right" />
                        </div>
                    </div>
                </div>
                <div id="criItems">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cri in (IEnumerable<EurekapsBridge.Models.eur_campaincriteria>)ViewBag.Criterios)
                            {

                            <tr>
                                <th>@cri.CMC_Name</th>
                                <th>@cri.CMC_Description</th>
                                <th>@cri.CMC_Type</th>
                                <th><input type="button" class="btn" onclick="delCriterio('@cri.CMC_AutoID')" value="Eliminar" /></th>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
        <div class="panel panel-default">

            <div class="panel-heading">Requisitos Especificos</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="req_name" class="control-label">Nombre</label>
                            <input type="text" id="req_name" name="req_name" class="form-control" />
                            <span class="error">Nombre es Requerido</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="req_desc" class="control-label">Descripción</label>
                            <input type="text" id="req_desc" name="req_desc" class="form-control" />

                        </div>
                    </div>
                    <input type="hidden" id="req_type" name="req_type" value="E" />

                    <div class="col-md-3">
                        <div class="form-group">
                            <br />
                            <input type="button" id="add_req" value="Agregar" class="btn btn-success pull-right" />
                        </div>
                    </div>
                </div>
                <div id="reqItems">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var req in (IEnumerable<EurekapsBridge.Models.eur_campainreq>)ViewBag.Requerimientos)
                            {
                            <tr>
                                <th>@req.CMR_Name</th>
                                <th>@req.CMR_Description</th>
                                <th>@req.CMR_Type</th>
                                <th><input type="button" class="btn" onclick="delReq('@req.CMR_AutoID')" value="Eliminar" /></th>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.CAM_AutoID)
        @Html.HiddenFor(model => model.CAM_AddDate)
        @Html.HiddenFor(model => model.CAM_AddUser)
        @Html.HiddenFor(model => model.CAM_EditDate)
        @Html.HiddenFor(model => model.CAM_EditUser)

        <div class="form-group">
            <div class="col-md-offset-10 col-md-2 pull-right">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
@section scripts{
    <script>
        var criItems = [];
        var reqItems = [];
        $(document).ready(function () {
            @foreach (var cri in (IEnumerable<EurekapsBridge.Models.eur_campaincriteria>)ViewBag.Criterios)
            {
              @:criItems.push({ID:@cri.CMC_AutoID, Name: '@cri.CMC_Name',Description: '@cri.CMC_Description',Type: '@cri.CMC_Type',State: '@cri.CMC_State'});
                                                                                                                        }

            @foreach (var req in (IEnumerable<EurekapsBridge.Models.eur_campainreq>)ViewBag.Requerimientos)
            {
            @:reqItems.push({ID:@req.CMR_AutoID, Name: '@req.CMR_Name',Description: '@req.CMR_Description',Type: '@req.CMR_Type',State: '@req.CMR_State'});
                                                                                                                    }

            //Add button click function
            $('#add_cri').click(function () {
                //Check validation of order item
                var isValidItem = true;
                if ($('#cri_name').val().trim() == '') {
                    isValidItem = false;
                    $('#cri_name').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#cri_name').siblings('span.error').css('visibility', 'hidden');
                }

                //Add item to list if valid
                if (isValidItem) {
                    data = {

                        Name: $('#cri_name').val().trim(),
                        Description: $('#cri_desc').val().trim(),
                        Type: $('#cri_type').val().trim(),
                        campain: '@Model.CAM_CampainID'
                    };
                    $.ajax({
                        url: '@Url.Action("CreateVM","CriteriosEspecificos")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.status == true) {
                                criItems.push({
                                    Name: $('#cri_name').val().trim(),
                                    Description: $('#cri_desc').val().trim(),
                                    Type: $('#cri_type').val().trim(),
                                    State: "A",
                                    ID: d.id
                                });
                                //Clear fields
                                $('#cri_name,#cri_desc').val('');
                                //populate order items
                                GeneratedItemsTable_C();
                            }
                            else {
                                alert('Failed');
                            }

                        },
                        error: function () {
                            alert('Error. Please try again.');
                            $('#submit').val('Save');
                        }
                    });
                }
            });
            $('#add_req').click(function () {
                //Check validation of order item
                var isValidItem = true;
                if ($('#req_name').val().trim() == '') {
                    isValidItem = false;
                    $('#req_name').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#req_name').siblings('span.error').css('visibility', 'hidden');
                }
                //Add item to list if valid
                if (isValidItem) {
                    data={
                        Name: $('#req_name').val().trim(),
                        Description: $('#req_desc').val().trim(),
                        Type: $('#req_type').val().trim(),

                        campain: '@Model.CAM_CampainID'
                    };
                    $.ajax({
                        url: '@Url.Action("CreateVM","RequerimientosCampana")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.status == true) {
                                reqItems.push({
                                    Name: $('#req_name').val().trim(),
                                    Description: $('#req_desc').val().trim(),
                                    Type: $('#req_type').val().trim(),
                                    State: "A",
                                    ID:d.id
                                });
                                //Clear fields
                                $('#req_name,#req_desc').val('');
                                //populate order items
                                GeneratedItemsTable_R();

                            }
                        },
                        error: function () {
                            alert('Error. Please try again.');
                            $('#submit').val('Save');
                        }
                    });
                }
            });
            //Save button click function
            $('#submit').click(function () {
                //validation of order
                var isAllValid = true;

                //Save if valid
                if (isAllValid) {
                    var data = {
                        CAM_CampainID: $('#CAM_CampainID').val().trim(),
                        CAM_Name: $('#CAM_Name').val().trim(),
                        //Sorry forgot to add Description Field
                        CAM_State: $('#CAM_State').val().trim(),
                        CAM_Description: $('#CAM_Description').val().trim(),
                        Requirimientos: reqItems,
                        Criterios: criItems
                    }

                    $(this).val('Please wait...');

                    $.ajax({
                        url: '@Url.Action("CreateVM","Campana")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            //check is successfully save to database
                            if (d.status == true) {
                                window.location.href = '@Url.Action("index")';
                            }
                            else {
                                alert('Failed');
                            }
                            $('#submit').val('Save');
                        },
                        error: function () {
                            alert('Error. Please try again.');
                            $('#submit').val('Save');
                        }
                    });
                }

            });
            //function for show added items in table


        });
        function GeneratedItemsTable_C() {
            if (criItems.length > 0) {
                var $table = $('<table/>');
                $table.addClass("table");
                $table.append('<thead><tr><th>Nombre</th><th>Descripción</th><th>Tipo</th><th></th></tr></thead>');
                var $tbody = $('<tbody/>');
                $.each(criItems, function (i, val) {
                    var $row = $('<tr/>');
                    $row.append($('<td/>').html(val.Name));
                    $row.append($('<td/>').html(val.Description));
                    $row.append($('<td/>').html(val.Type));
                    $row.append($('<td/>').html('<input type="button" class="btn" onclick="delCriterio('+val.ID+')" value="Eliminar" />'));
                    $tbody.append($row);
                });
                $table.append($tbody);
                $('#criItems').html($table);
                $table.DataTable({
                    "language": {
                        "url": '@Url.Content("scripts/datatable.Spanish.json")'
                    }
                });
            }
        }
        function GeneratedItemsTable_R() {
            if (criItems.length > 0) {
                var $table = $('<table/>');
                $table.addClass("table");
                $table.append('<thead><tr><th>Nombre</th><th>Descripción</th><th>Tipo</th><th></th></tr></thead>');
                var $tbody = $('<tbody/>');
                $.each(reqItems, function (i, val) {
                    var $row = $('<tr/>');
                    $row.append($('<td/>').html(val.Name));
                    $row.append($('<td/>').html(val.Description));
                    $row.append($('<td/>').html(val.Type));
                    $row.append($('<td/>').html('<input type="button" class="btn" onclick="delReq('+val.ID+')" value="Eliminar" />'));
                    $tbody.append($row);
                });
                $table.append($tbody);
                $('#reqItems').html($table);
                $table.DataTable({
                    "language": {
                        "url": '@Url.Content("~/scripts/datatable.Spanish.json")'
                    }
                });
            }
        }
        function delCriterio(id){
            data = {
                id: id
            };
            $.ajax({
                url: '@Url.Action("DeleteVM","CriteriosEspecificos")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        criItems = $.grep(criItems, function(e){
                            return e.ID != id;
                        });
                        GeneratedItemsTable_C();
                    }
                },
                error: function () {
                    alert('Error. Please try again.');
                    $('#submit').val('Save');
                }
            });
        }
        function delReq(id){
            data = { id:id };
            $.ajax({
                url: '@Url.Action("DeleteVM","RequerimientosCampana")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        reqItems = $.grep(reqItems, function(e){
                            return e.ID != id;
                        });
                        GeneratedItemsTable_R();
                    }
                },
                error: function () {
                    alert('Error. Please try again.');
                    $('#submit').val('Save');
                }
            });
        }
    </script>
}