﻿@model IEnumerable<EurekapsBridge.Models.eur_campainprofile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Campañas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "CreateVM")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CAM_CampainID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAM_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAM_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAM_State)
            </th>

            <th></th>
        </tr>
    </thead><tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CAM_CampainID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAM_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAM_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAM_State)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.CAM_AutoID }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.CAM_AutoID })
        </td>
    </tr>
    }
</tbody>
</table>
<div>
    <a href="~/Home" class="btn btn-danger">Regresar</a>
</div>