﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />

    <title>Eurekaps</title>
    <style>
        body {
            background: #aedfe5 url(../../Content/images/sky.png) 0 0 repeat-x;
            font-family: 'Trebuchet MS', Arial, Sans-Serif;
        }

        .mainContent {
            position: absolute;
            top: 180px;
            left: 0;
            z-index: 101;
            padding: 40px 200px;
        }

        .stage {
            position: absolute;
            top: 180px;
            left: 0;
            width: 100%;
            min-width: 900px;
            height: 100%;
            overflow: hidden;
            z-index: 100;
        }

        .far-clouds {
            background: transparent url(../../Content/images/far-clouds.png) 305px 102px repeat-x;
        }

        .near-clouds {
            background: transparent url(../../Content/images/near-clouds.png) 305px 162px repeat-x;
        }
        .globo{
              background: transparent url(../../Content/icono/mis-iniciativas.fw.png) 305px 162px no-repeat;
        }

        body {
            padding-bottom: 145px;
        }


    </style>


</head>
<body>
    @RenderBody()
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.4.1.js"></script>
    <script src="~/Scripts/jquery.spritely-0.6.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#far-clouds').pan({ fps: 30, speed: 0.7, dir: 'left' });
            $('#near-clouds').pan({ fps: 30, speed: 1, dir: 'left' });
            $('#Globo').sprite({ fps: 8, no_of_frames: 1 })
      .spRandom({
          top: 70,
          left: 100,
          right: 1000,
          bottom: 340,
          speed: 40000,
         
      });
        });
    </script>
</body>

</html>
