﻿@{ 
  var user = User as EurekapsBridge.Code.Security.PrixmaPrincipal;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eurekaps | Bienvenida sean tus ideas - @ViewBag.Title</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    @Styles.Render("~/Content/css")

    <link href="~/Content/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    @RenderSection("styles", required: false)
    <style>
        
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 34px !important;
      
        }

         .select2-container--default .select2-selection--single{
             border-radius:4px !important;
             border: 1px solid #ccc;
         }
         .select2-container .select2-selection--single{
             height:34px !important;
         }
         .select2-container--default .select2-selection--single .select2-selection__arrow{
             height:34px !important;
         }

    </style>
</head>

<body>
    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://eurekaps.procaps.com.co"><img src="~/Content/images/logo.png" alt="logo" height="75"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="http://eurekaps.procaps.com.co">Inicio</a></li>
                        <li><a href="~/Home/">Mi Eurekaps</a></li>
                        <li><a href="~/Home/LogOut">Cerrar Sesión</a></li>
                        <li><a href="#"><b>@user.Account.ACP_FirstName @user.Account.ACP_LastName</b></a> </li>
                    </ul>
                </div>
            
            </div><!--/.container-->
            
        </nav><!--/nav-->
        
        <img id="cabezera" src="~/Content/images/cab.jpg" class="img-responsive">

    </header><!--/header-->
    <section id="contenido" class="container">
       
           
        
        @RenderBody()
        </section>
    <div class="loading-modal"></div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
       
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/fileinput.min.js"></script>
    <script src="~/Scripts/fileinput_locale_es.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        $body = $("body");
        $(document).ready(function () {

            $(".table").DataTable({
                "language": {
                    "url": "/scripts/datatable.Spanish.json",
                   
                },
                "info": false,
                "pagingType": "simple",
                
            });
            $(".table_Paging").addClass("table");
            $(".table_Paging").DataTable({
                "language": {
                    "url": "/scripts/datatable.Spanish.json"
                },
                "pagingType": "simple_numbers",
                
            });
            $(".table_No_Paging").addClass("table");
            $(".table_No_Paging").DataTable({
                "language": {
                    "url": "/scripts/datatable.Spanish.json"
                },
                "paging": false
                
            });
            $(":file").fileinput({
                'showUpload': false,
                'language': 'es',
                initialCaption: "Maximo 10MB, Adjunta fotos, cuadros, gráficas, bocetos, planos, resultados de encuestas y cualquier información que pueda sustentar y validar la Idea."
            });
            $("select").select2({
               

            });
        });
        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
