﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eurekaps</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/login_style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row" xid="pwd-container">
           
                @RenderBody()
            
            
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
