﻿@model EurekapsBridge.Models.eur_exception

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>eur_exception</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EXP_Controller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_Controller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_Stack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_Stack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_InnerMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_InnerMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_ModifyUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_ModifyUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_ModifyDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
