﻿@model EurekapsBridge.Models.eur_exception

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>eur_exception</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EXP_Controller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_Controller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_Stack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_Stack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_InnerMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_InnerMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_ModifyUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_ModifyUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP_ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP_ModifyDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EXP_AutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
