﻿@model IEnumerable<EurekapsBridge.Models.eur_exception>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EXP_Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EXP_Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EXP_Message)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.EXP_AddUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EXP_AddDate)
            </th>
           
            <th></th>
        </tr>
    </thead><tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EXP_Controller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXP_Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXP_Message)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.EXP_AddUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXP_AddDate)
        </td>
      
        <td>
             @Html.ActionLink("Details", "Details", new { id=item.EXP_AutoID }) 
           
        </td>
    </tr>
    }
</tbody>
</table>
