﻿@model EurekapsBridge.Models.eur_campainreq

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>eur_campainreq</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CMR_CampainID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMR_CampainID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMR_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMR_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMR_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMR_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMR_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMR_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMR_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMR_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMR_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMR_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMR_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMR_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMR_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMR_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMR_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMR_EditUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CMR_AutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
