﻿@model IEnumerable<EurekapsBridge.Models.eur_campainreq>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CMR_CampainID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMR_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMR_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMR_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMR_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMR_AddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMR_AddUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMR_EditDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMR_EditUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CMR_CampainID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMR_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMR_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMR_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMR_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMR_AddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMR_AddUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMR_EditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMR_EditUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CMR_AutoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CMR_AutoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CMR_AutoID })
        </td>
    </tr>
}

</table>
