﻿
@{
  ViewBag.Title = "Error";
  Layout = "~/Views/Shared/_Error.cshtml";
}
<img src="~/Content/images/logo.png" alt="logo" height="75">

<div class="container">
    <div id="far-clouds" class="far-clouds stage"></div>
    <div id="near-clouds" class="near-clouds stage"></div>
    <div id="Globo" class="globo stage"></div>
    <div class="mainContent">
        <h1>¡Tic Tac!<img src="~/Content/images/Ambox_outdated_content.png" /></h1>

        <div>
            <p>¿Que pasó? Intentaste registrar una idea en una campaña que ya ha cerrado.</p>
            <p>&nbsp;</p>
            <p>El equipo de Eurekaps ya esta informado de esto.</p>
            <p>&nbsp;</p>
            <p>Estamos seguros que no fue tu culpa, seguramente no te avisamos a tiempo.</p>
            <p>&nbsp;</p>
            <a href="~/Home">Regresa a Mi Eurekaps</a>
        </div>
    </div>
</div>



