﻿
@{
  ViewBag.Title = "Error";
  Layout = "~/Views/Shared/_Error.cshtml";
}
<img src="~/Content/images/logo.png" alt="logo" height="75">
<div class="container">
    <div id="far-clouds" class="far-clouds stage"></div>
    <div id="near-clouds" class="near-clouds stage"></div>
    <div id="Globo" class="globo stage"></div>
    <div class="mainContent">
        <h1>¡Hemos tenido un problema aquí!</h1>
        
        <div>
            <p>¿Que pasó? Ahora mismo no sabemos.</p>
            <p>&nbsp;</p>
            <p>El equipo de Eurekaps ya esta informado de este error</p>
            <p>&nbsp;</p>
            <p>Estamos trabajando en solucionar el inconveniente, intenta de nuevo o regresa mas tarde para intentar hacer lo que estabas haciendo, nos interesa mucho lo que hacias.</p>
            <p>&nbsp;</p>
            <a href="~/Home">Regresa a Mi Eurekaps</a>
        </div>
    </div>
</div>



