﻿
@inherits EurekapsBridge.Code.Security.BaseViewPage

@{

  ViewBag.Title = "Home Page";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <style>
        .panel {
            margin-top: 60px;
            color: #5d5d5d;
            background: #f2f2f2;
            padding: 26px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        }

        .thumbnail {
            height: 150px;
        }



        .centrar {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
        }

            .centrar:hover {
                -webkit-transform: scale(1.1) rotate(-4deg);
                transform: scale(1.1) rotate(-4deg);
            }

        .thumbnail i {
            padding-top: 0.2em;
        }
        .panel{
            margin-top: 20px !important;
        }
       
    </style>
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
}
<br />
<p></p>
<div class="panel">
    <div class="panel-heading"><h5>Mi Eurekaps</h5>Este es tú Eurekaps. Aquí podrás acceder a tus ideas, iniciativas, y proyectos. Participa, recibe Creatines y redímelos en la Tienda de Beneficios.</div>
    <div class="row">
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/Idea" class="thumbnail">

                <img src="~/Content/icono/mis-ideas.fw.png" />
                <h4>Mis Ideas</h4>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/Idea/IndexIN" class="thumbnail">
                <img src="~/Content/icono/mis-iniciativas.fw.png" />
                <h4>Mis Iniciativas</h4>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/Proyecto" class="thumbnail">
                <img src="~/Content/icono/mis-proyectos.fw.png" />
                <h4>Mis Proyectos</h4>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/Puntos" class="thumbnail">
                <img src="~/Content/icono/mis-puntos.fw.png" />
                <h4>Mis Creatines</h4>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-md-3 centrar">
            <a href="~/Home/GotoShop" class="thumbnail">

                <img src="~/Content/icono/tienda-de-beneficios.fw.png" />
                <h4>Tienda de Beneficios</h4>
            </a>
        </div>
        @if (!string.IsNullOrEmpty(User.Account.ACP_Password))
        {
        <div class="col-xs-3 col-md-3 centrar">
            <a href="~/Account/CambiarPass/@User.Account.ACP_AutoID" class="thumbnail">
                <i class="fa fa-key fa-5x" style="color:grey" aria-hidden="true"></i><br />
                <h4>Cambiar Contraseña</h4>
            </a>
        </div>
        }
    </div>
    @if (User.Account.ACP_IsAdmin == "S")
    {
    <div class="row">
        <h3>Administración</h3>
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/Empresas" class="thumbnail">
                <img src="~/Content/icono/admin-empresas.fw.png" />
                <h4>Administrar Empresas</h4>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/Area" class="thumbnail">
                <img src="~/Content/icono/admin-areas.fw.png" />
                <h4>Administrar Areas</h4>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/Facetas" class="thumbnail">
                <img src="~/Content/icono/admin-facetas.fw.png" />
                <h4>Administrar Facetas</h4>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/EstadoIdea" class="thumbnail">
                <img src="~/Content/icono/administrar-estados.fw.png" />
                <h4>Administrar Estados</h4>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/CriteriosGenerales" class="thumbnail">
                <img src="~/Content/images/logo.png" />
                <h4>Criterios Generales Campaña</h4>
            </a>
        </div>

        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/Home/LogOut" class="thumbnail">
                <img src="~/Content/icono/admin-puntos.fw.png" />
                <h4>Administrar Puntos</h4>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/Home/LogOut" class="thumbnail">
                <img src="~/Content/icono/admin-facetas.fw.png" />
                <h4>Administrar Facetas</h4>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 centrar">
            <a href="~/Campana" class="thumbnail">
                <img src="~/Content/icono/admin-campañas.fw.png" />
                <h4>Administrar Campaña</h4>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3 centrar">
            <a href="" class="thumbnail">
                <img src="~/Content/icono/administrar-blog.fw.png" />
                <h4>Administrar Blog</h4>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 centrar">
            <a href="" class="thumbnail">
                <img src="~/Content/icono/administrar-beneficios.fw.png" />
                <h4>Administrar Beneficios</h4>
            </a>
        </div>
    </div>
    }
</div>
