﻿@model EurekapsBridge.Models.LoginViewModel

@{
  Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="col-xs-0 col-sm-0 col-md-8"></div>
<div class="col-xs-12 col-sm-12 col-md-4">
   
    @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
    {
    @Html.AntiForgeryToken()
    <img src="~/Content/images/logo.png" class="img-responsive" width="237" height="205" alt="">
        <text>Utiliza tu usuario y contraseña de red o de Eurekaps</text>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-user">

            </i>
        </span>
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Nombre de usuario" } })
    </div>

    <div class="form-group input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock">

            </i>
        </span>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Contraseña" } })
    </div>


    <input type="submit" value="Ingresar" class="btn btn-lg btn-success btn-block" />
                <text>
                    Si no tienes usuario y contraseña de red o Eurekaps
                    </text>
                    @Html.ActionLink("Crear usuario", "Create", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "btn btn-lg btn-primary btn-block" })

    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
