﻿@model EurekapsBridge.Models.eur_projectprofile

@{
    ViewBag.Title = "AsignarLider";
}

<h2>Asignar Lider</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Proyecto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PP_IDPID)
        <div class="form-group">
            @Html.LabelFor(model => model.PP_Leader, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.PP_Leader, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PP_Leader, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-7">
                <input id ="PP_Leader_Name" class = "form-control" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Asignar" class="btn btn-success pull-right" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "details","campana",new { id=ViewBag.cAutoId },new { @class ="btn btn-danger" })
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {


            $("#PP_Leader").blur(function () {
                if ($("#PP_Leader").val() !== '') {
                    data = {
                        User: $("#PP_Leader").val().trim()
                    };
                    $.ajax({
                        url: '@Url.Action("Get","Account")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.status == true) {
                                $('#PP_Leader_Name').val(d.FullName);
                            } else {
                                alert("Usuario no encontrado");
                            }
                        },
                        error: function () {
                            alert('Error. Please try again.');
                        }
                    });
                }
                else {
                    $("#PP_Leader_Name").val('');
                }
            });
        });
    </script>
    }