﻿@model EurekapsBridge.Models.eur_projectprofile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>eur_projectprofile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PP_IDPID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_IDPID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_EDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_EDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_InitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_InitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_FinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_FinishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_Investment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_Investment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_Expenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_Expenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_FinalcialEval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_FinalcialEval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_Leader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_Leader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP_ModifyUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP_ModifyUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PP_AutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
