﻿@model EurekapsBridge.Models.eur_projectprofile

@{
  ViewBag.Title = "Create";
}
@section styles{
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}

<h2>Proyecto de la iniciativa: @Model.PP_NombreIdea</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="panel panel-default">
    <div class="panel-heading">Información del Proyecto</div>
    <div class="panel-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PP_IDPID)
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>EDT</h5>
                <smal>Desglose o desagregación del trabajo que hay que realizar en la implementación</smal>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PP_EDT, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.PP_EDT, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PP_EDT, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("", "Archivo EDT", new { @class = "control-label" })

                        <input id="EDT" name="EDT" type="file">

                    </div>
                </div>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="control-label">Cronograma</label>
                Gantt con actividades detalladas y estimaciones de tiempos mas responsables

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        @Html.LabelFor(model => model.PP_InitDate, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PP_InitDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PP_InitDate, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6 col-sm-6 ">
                        @Html.LabelFor(model => model.PP_FinishDate, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PP_FinishDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PP_FinishDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("", "Archivo Cronograma", new { @class = "control-label" })

                    <input id="GANTT" name="GANTT" type="file" >

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h5>Financiera</h5></div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.Label("", "Archivo Inversión", new { @class = "control-label" })

                        <input id="INV" name="INV" type="file" >

                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("", "Archivo Gastos", new { @class = "control-label" })

                        <input id="EXES" name="EXES" type="file" >

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PP_FinalcialEval, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.PP_FinalcialEval, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PP_FinalcialEval, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("", "Archivo Evaluación Financiera", new { @class = "control-label" })

                        <input id="GANTT" name="GANTT" type="file" >

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h5>Grupo de Trabajo</h5></div>
            <div class="panel-body">
              
                        <div class="form-group col-md-4">
                            <label for="usr" class="control-label">Nombre Usuario</label>
                            <input name="usr" id="usr" class="form-control" />
                            <span class="error">Usuario es Requerido</span>
                        </div>
                        <div class="form-group col-md-7">
                            <label for="usr_name" class="control-label">Nombre</label>
                            <input name="usr_name" id="usr_name" readonly class="form-control" />

                        </div>
                        <div class="col-md-1">
                            <br />
                            <input type="button" class="btn btn-success btn-sm pull-right" value="Agregar" onclick="AgregarColaborador()" />
                        </div>

                        <div id="partners" class="col-md-12"></div>
                    </div>
            @Html.HiddenFor(model=> model.PP_AddDate)
            @Html.HiddenFor(model => model.PP_AddUser)

            @Html.HiddenFor(model => model.PP_ModifyDate)

            @Html.HiddenFor(model => model.PP_ModifyUser)
            @Html.HiddenFor(model=> model.PP_Leader)
            @Html.HiddenFor(model=> model.PP_AutoID)


        </div>
        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar a mis proyectos", "Index",null,new { @class="btn btn-danger"})
</div>
@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
<script>
    $("#UploadS").fileinput(
              "refresh",
              {
                  showPreview: false,
                  'showUpload': true,
                  uploadUrl: '@Url.Action("CreateFile","IdeaDocument")',
                  uploadExtraData: { id: '@Model.PP_AutoID', tipo: 'S' },
                  dropZoneEnabled: false,
              }
              );
    $('#UploadS').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        if (response.status) {
            docS.push({ Name: response.Name, ID: response.id, Type: 'S' });
            GeneratedItemsTable(docS, 'docS');
            $("#UploadS").fileinput(
        "clear"
        );

        }
    });
    </script>
}