﻿@model IEnumerable<EurekapsBridge.Models.eur_projectprofile>

@{
    ViewBag.Title = "Index";
}

<h2>Mis proyectos</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PP_NombreIdea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PP_InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PP_FinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PP_Investment)
        </th>
        <th></th>
    </tr>
</thead><tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PP_NombreIdea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PP_InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PP_FinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PP_Investment)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PP_AutoID }, new { @class = "btn btn-success" }) 
        </td>
    </tr>
    }
</tbody>
</table>
@Html.ActionLink("Regresar", "Index", "Home", null, new { @class="btn btn-danger"})
