﻿@model EurekapsBridge.Models.eur_facetprofile

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>eur_facetprofile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FP_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_EditUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
