﻿@model EurekapsBridge.Models.eur_facetprofile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Faceta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FP_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_EditUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.FP_AutoID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
