﻿@model IEnumerable<EurekapsBridge.Models.eur_facetprofile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administración de datos Facetas</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FP_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FP_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FP_State)
            </th>

            <th></th>
        </tr>
    </thead> <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FP_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FP_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FP_State)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.FP_AutoID }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.FP_AutoID })
        </td>
    </tr>
    }
</tbody>
</table>
