﻿@model EurekapsBridge.Models.eur_campaingeneral

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>eur_campaingeneral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CMG_CampainID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMG_CampainID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMG_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMG_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMG_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMG_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMG_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMG_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMG_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMG_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMG_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMG_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMG_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMG_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMG_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMG_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMG_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMG_EditUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CMG_AutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
