﻿@model IEnumerable<EurekapsBridge.Models.eur_campaingeneral>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criterios Generales de Campañas</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CMG_CampainID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CMG_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CMG_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CMG_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CMG_State)
            </th>
          
            <th></th>
        </tr>
    </thead><tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CMG_CampainID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMG_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMG_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMG_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMG_State)
        </td>
      
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.CMG_AutoID }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.CMG_AutoID }) 
        
        </td>
    </tr>
    }
</tbody>
</table>
