﻿@model EurekapsBridge.Models.eur_ideapoints

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>eur_ideapoints</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IUP_IDPID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_IDPID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_Used)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_Used)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_EditUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
