﻿@model EurekapsBridge.Models.eur_ideapoints

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>eur_ideapoints</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IUP_IDPID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_IDPID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_Used)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_Used)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUP_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUP_EditUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IUP_AutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
