﻿@model IEnumerable<EurekapsBridge.Models.eur_ideapoints>

@{
  ViewBag.Title = "Index";
}

<h2>Mis Creatines Ganados</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Campaña
            </th>
            <th>
                Puntos
            </th>
            <th>
                Razon
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampañaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IUP_Points)
            </td>
            <td>
                @switch (item.IUP_Type)
                {
                    case "ID":
                    <text>Por registrar una idea</text>
                        break;
                    case "IN":
                    <text>Puntos Obtenidos en una iniciativa</text>
                        break;
                    case "P":
                    <text>Por ser Padrino de una iniciativa</text>
                        break;
                    case "C":
                    <text>Por ser Compañero de una iniciativa</text>
                        break;
                    case "L":
                    <text>Por ser Lider de un Proyecto</text>
                        break;
                    case "PP":
                    <text>Por ser parte de un Proyecto</text>
                        break;

                }
            </td>


        </tr>
        }
    </tbody>
</table>
