﻿@model EurekapsBridge.Models.eur_ideasponsor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>eur_ideasponsor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IS_IDPID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_IDPID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_EditUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IS_AutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
