﻿@model IEnumerable<EurekapsBridge.Models.eur_ideasponsor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IS_IDPID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_AddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_AddUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_EditDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_EditUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IS_IDPID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_AddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_AddUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_EditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_EditUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IS_AutoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IS_AutoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IS_AutoID })
        </td>
    </tr>
}

</table>
