﻿@model EurekapsBridge.Models.eur_areaprofile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>eur_areaprofile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AP_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_AddUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_AddUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_EditUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AP_AutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
