﻿@model IEnumerable<EurekapsBridge.Models.eur_areaprofile>

@{
    ViewBag.Title = "Eurekaps Areas";
}

<h2>Administracion de datos de Area</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AP_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AP_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AP_State)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AP_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AP_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AP_State)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.AP_AutoID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.AP_AutoID })

            </td>
        </tr>
        }
    </tbody>
</table>
