﻿@model EurekapsBridge.Models.ChangepasswordViewModel
@{
    ViewBag.Title = "CambiarPass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cambiar Contraseña</h2>


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Cambiar mi contraseña</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ACP_AutoID)

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-10 col-md-2">
            <input type="submit" value="Guardar" class="btn btn-success btn-block" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Cancelar", "Index","Home", null, new { @class = "btn btn-danger" })
</div>
