﻿@model IEnumerable<EurekapsBridge.Models.eur_account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ACP_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACP_Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACP_FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACP_LastName)
            </th>
            <th></th>
        </tr>
    </thead><tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ACP_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACP_Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACP_FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACP_LastName)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ACP_AutoID })
        </td>
    </tr>
    }
</tbody>
</table>
