﻿@model EurekapsBridge.Models.RestoreAccountViewModel
@{
      ViewBag.Title = "restorePass";
      Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="col-xs-0 col-sm-0 col-md-4"></div>
<div class="col-xs-12 col-sm-12 col-md-8">
    @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
    {
    @Html.AntiForgeryToken()
    <img src="~/Content/images/logo.png" class="img-responsive" width="237" height="205" alt="">
    <h4>restaurar mi usuario Eurekaps</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.EditorFor(model => model.ACP_User, new { htmlAttributes = new { @class = "form-control", placeholder = "No. Cedula" } })
            @Html.ValidationMessageFor(model => model.ACP_User, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.ACP_Mail, new { htmlAttributes = new { @class = "form-control", placeholder = "Correo Electronico" } })
            @Html.ValidationMessageFor(model => model.ACP_Mail, "", new { @class = "text-danger" })
        </div>

    }
</div>
